@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Estilo para el track (fondo) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Estilo para el thumb (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: #075985;
  border-radius: 10px;
}

/* Estilo para el thumb al pasar el ratón */
::-webkit-scrollbar-thumb:hover {
  background: #033652;
}

